<section id="proyectos">
  <div class="container-fluid">
    <h2>Proyectos</h2>
    <div class="divider oscuro">
    </div>
          
      <!--Proyectos: En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste 
      o en que te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre,
      fecha de realización, descripción y el link a su evidencia. Además, podés ilustrar esta sección con 
      imágenes de los proyectos.-->   
    <div class="row project">
        <div *ngFor="let proyecto of proyectosList" class="col-sm-4">
          <div class="card">
          <img class="card-img-top" [src]="proyecto.img" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{proyecto.title}}</h4>
            <p class="card-text">{{proyecto.description}}</p>
            <a href="{{proyecto.url}}" target="_blank" class="project-a"><button class="project-btn">Ver proyecto</button></a>
          </div>
          </div>
        </div>  
    </div>
  </div>
</section>