<section id="skills">
    <div class="container-fluid">
      <h2>Hard Skills</h2>
      <div class="divider claro"></div>
      <!--Hard & Soft Skills: Con una forma de visualización atractiva(por ejemplo: porcentajes)mostrarás
      tu grado de dominio de habilidades duras y blandas.Podés también generar una sección adicional 
      con tu nivel de idiomas.-->
          <h5>HTML <i class="fa-brands fa-html5"></i></h5>     
          <div class="progress">
            <div class="progress-bar" style="width:75%">Avanzado</div>
          </div>
          <h5>CSS <i class="fa-brands fa-css3-alt"></i></h5>
          <div class="progress">
            <div class="progress-bar" style="width:50%">Intermedio</div>
          </div>
  
          <h5>Bootstrap <i class="fa-brands fa-bootstrap"></i></h5>
          <div class="progress">
            <div class="progress-bar" style="width:50%">Intermedio</div>
          </div>
  
          <h5>Javascript <i class="fa-brands fa-js"></i></h5>
          <div class="progress">
            <div class="progress-bar" style="width:50%">Intermedio</div>
          </div>
  
          <h5>Typescript <img src="../../../assets/icons8-typescript-241.png"></h5>
          <div class="progress">
            <div class="progress-bar" style="width:25%">Básico</div>
          </div>
  
          <h5>Ingles - Nivel Escrito <i class="fa-solid fa-file-lines"></i></h5>
          <div class="progress">
            <div class="progress-bar" style="width:75%">Avanzado</div>
          </div>
  
          <h5>Ingles - Nivel Oral <i class="fa-solid fa-comment"></i></h5>
          <div class="progress">
            <div class="progress-bar" style="width:25%">Básico</div>
          </div>
  
      <h2 id="soft-h2">Soft Skills</h2>
      <div class="divider claro"></div>   
  
      <h5><img src="../../../assets/icons8-teamwork-48.png"> Habilidades comunicativas</h5>    
      <h5>Creatividad <img src="../../../assets/icons8-creativity-64.png"></h5>
      <h5><img src="../../../assets/icons8-puzzle-64.png"> Resolución de problemas</h5> 
      <h5>Adaptabilidad <img src="../../../assets/icons8-adaptation-64.png"></h5>
      <h5><img src="../../../assets/icons8-teamwork-64.png"> Trabajo en equipo</h5>
    </div>
  </section>
