      <!--Hard & Soft Skills: Con una forma de visualización atractiva(por ejemplo: porcentajes)mostrarás
      tu grado de dominio de habilidades duras y blandas.Podés también generar una sección adicional 
      con tu nivel de idiomas.-->
<section id="skills">
    <div class="container-fluid">
      <div class="row">

        <div class="Hard col-5">
          <h2>Hard Skills</h2>
          <div class="divider claro"></div>
          <div *ngFor="let habilidad of habilidadesDurasList" class="skills text-center">
              <h5>{{habilidad.skill}} <i class={{habilidad.icon}}></i></h5>     
              <div class="progress">
                <div class="progress-bar" style="width:{{habilidad.progress}}%">{{habilidad.label}}</div> <!--VER como EXTRAPOLAR con BOOTSTRAP-->
              </div>
            </div>
          </div>
  
      <div class="col"></div>

      <div class="Soft col-5">
        <h2>Soft Skills</h2>
        <div class="divider claro"></div>   
        <div *ngFor="let habil of habilidadesBlandasList" class="softskills">
        <h5 class="softskills"><img src="{{habil.icon}}"> {{habil.skill}}</h5>    
      </div>
      </div>

  </div>
    </div>
  </section>
