<section id="acerca_de">
    <div class="container-fluid">
      <div class="vh-100 row">
        <div class="col-sm-1 text-left align-top btn-edit" onclick="cambiar_parrafo()">
          <a href="#" class="btn-left">
            <i class="fa fa-edit"></i>
          </a>
        </div>
        <div class="col-sm-7 text-center align-self-center">
          <h1>Silvina Belcastro</h1> 
          <h2><em>Programadora web full stack junior</em></h2>
          <div>
            <p id="text-acercade">Soy una persona responsable, creativa, con mucha capacidad para el aprendizaje y habilidades en la comunicación.</p>
          </div>
          <div>
            <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
          </div>
        <!--  <input type="file" id="file1" onchange="showfile(this)"> -->
          <a download="CV_silvina-belcastro.png" href="CV_silvina-belcastro.png"><button class="download-cv">Download CV</button></a>
        </div>
        <div class="col-sm-4">
          <img id="foto_perfil" src="Perfil-chica.jpg" alt="foto de perfil Silvina">
        </div>
      </div>  
    </div>            
  </section>
