<section id="experiencia">
    <div class="container-fluid">
      <h2>Experiencia</h2>
      <div class="divider claro"></div>
      <h4 class="text-center">Profesora de educación física</h4>
      <div class="row text-center">  
          <div class="col">
          <p>Instituto San José de Flores</p>
          <time>2013 - Actualidad</time>
          </div>
          <div class="col">
          <p>Instituto Nuestra Señora de Luján de San José de Flores</p>
          <time>2018 - Actualidad</time>  
        </div>
          <div class="col">
          <p>Instituto Elisa Harilaos</p>
          <time>2019 - Actualidad</time>
          </div>
             
        
      </div>
      </div>
    <!--Experiencia Aquí: colocarás toda la información de loslugares donde has trabajado, incluyendo título
    del puesto, periodo, logo de la empresa, si lo encontrás, y descripción de las actividades realizadas en ese
    puesto -->                
    </section>
