<section id="acerca_de">
  <div class="container-fluid">
    <h2>Acerca de mi</h2>
    <div class="divider oscuro"></div>
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 text-left align-top btn-edit" onclick="cambiar_parrafo()">
          <a href="#" class="btn-left">
            <i class="fa fa-edit"></i>
          </a>
        </div> -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-center align-self-center">
          <h1>{{persona.nombre}}</h1> 
          <h2><em>{{persona.apellido}}</em></h2>
          <div>
            <p id="text-acercade">{{persona.img}}</p>
          </div>
          <!-- <div>
            <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
          </div> -->
        <!--  <input type="file" id="file1" onchange="showfile(this)"> -->
          <a download="" href=""><button class="download-cv button">Download CV</button></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img class="img-fluid" id="foto_perfil" [src]="" alt="foto de perfil Silvina">
        </div>
      </div>
  </div>              
  </section>

