<section id="experiencia">
    <div class="container-fluid">
      <h2>Experiencia</h2>
      <div class="divider claro"></div>
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adip</p>
          <p>Lorem ipsum dolor sit amet, consectetur adip</p>
          <p>Lorem ipsum dolor sit amet, consectetur adip</p>
        </div>
      </div>
      </div>
    <!--Experiencia Aquí: colocarás toda la información de loslugares donde has trabajado, incluyendo título
    del puesto, periodo, logo de la empresa, si lo encontrás, y descripción de las actividades realizadas en ese
    puesto -->                
    </section>
