<header id="header" class="header">
    <div class="vh-100 row justify-content-center align-items-center">
      <div class="col-sm-3">
        <img id="logo-AP" class="img-fluid" src="../../../assets/AP logo.jpg"
        alt="Logo Argentina Programa"></div>
      <div class="col-sm-2"><span>#YoProgramo</span></div>
      <div class="col-sm"><a class="contact" href="https://github.com/SilBel16" target="_blank"><i class="fa-brands fa-github"></i></a></div>
      <div class="col-sm"><a class="contact" href="https://www.linkedin.com/in/silvina-belcastro/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
      <div class="col-sm"><a class="contact" href="https://codepen.io/Sil_Bel16" target="_blank"><i class="fa-brands fa-codepen"></i></a></div>
      <div class="col-sm"><a class="contact" href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
      <div class="col-sm"><a class="contact" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>          
      <div class="col-sm"><a class="contact" href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
      <div class="col-sm"><button class="login">Login</button></div>
    </div>
  </header>
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#acerca_de">Acerca de...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#educacion">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Hard & Soft Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>{{miPortfolio.name}}</h1> 
  <h2><em>{{miPortfolio.position}}</em></h2>
  <p id="text-acercade">{{miPortfolio.acerca}}</p>
